.App {
  text-align: center;
  padding: 20px;
  max-width: 500px;
}

.App__title {
  display: flex;
  justify-content: center;
}

.list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.list__item {
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list__add-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}